<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/shaik-subhahan">The complete Ruby on Rails projects</a>
      by <a href="https://www.linkedin.com/in/shaik-subhahan-484412263/">Subhahan</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
  
</div>